<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wo.wocom.xwell"
    android:versionCode="1"
    android:versionName="1.3.10.3.19jar调用版" >

    <uses-sdk android:minSdkVersion="10" />

    <!-- uses-permission -->
    <!-- 获取通话状态 Allows read only access to phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 访问CellID或WiFi热点来获取粗略的位置Allows an application to access coarse(e.g. Cell-ID,WiFi)location) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 网络：允许程序打开网络套接字(Allows applications to open network sockets) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 允许程序录制音频(Allows an application to record audio) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 允许程序写入额外存储空间（SDCARD）Allows an application to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 使用照相设备 Required to be able to access the camera device. -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
    允许程序接收到【系统启动完成的】广播
    Allows to receive the ACTION_BOOT_COMPLETED that is broadcast after the system finishes booting.
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 在应用程序中添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- 允许挂载和反挂载文可移动存储文件系统 mounting and unmounting file systems for removable storage -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 允许程序访问精良位置(GPS) (Allows an application to access fine (e.g., GPS) location) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 允许程序访问有关 GSM 网络信息(Allows applications to access information about networks) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- uses-feature 要求的特性 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="wo.wocom.xwell.XhulooActivity"
            android:label="@string/XA_activity_lable" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XhulooActivity_myplaces"
            android:label="@string/MP_activity_lable" >
        </activity>
        <activity
            android:name=".XhulooActivity_PHONE"
            android:label="@string/PH_activity_lable" >
        </activity>
        <activity
            android:name=".XhulooActivity_MEM"
            android:label="@string/MEM_activity_lable" >
        </activity>
        <activity
            android:name=".XhulooActivity_weatherreport"
            android:label="@string/WR_activity_lable" >
        </activity>
        <activity
            android:name=".XhulooActivity_playmusic"
            android:label="@string/PM_activity_lable" >
        </activity>
        <activity
            android:name=".XhulooActivity_audioRecord"
            android:label="@string/AR_activity_lable" >
        </activity>
        <activity
            android:name=".XhulooActivity_cupinfo"
            android:label="@string/CI_activity_lable" >
        </activity>
        <activity android:name=".XA_touchball" >
        </activity>
        <activity
            android:name=".XAplasma"
            android:label="@string/pl_plasma" >
        </activity>
        <activity
            android:name=".XA_smallshell"
            android:label="@string/XA_smallshell" >
        </activity>
        <activity android:name=".XA_camera" >
        </activity>
        <activity android:name=".XA_AirQuality" >
        </activity>
        <activity android:name=".net.ChatClient" >
        </activity>

        <!-- pac_b -->
        <activity android:name=".browser.browser_main_view" >
        </activity>
        <activity
            android:name=".browser.HelpTabAct"
            android:launchMode="singleTask" />
        <activity android:name=".browser.WebPreference" />
        <activity android:name=".browser.HttpData" />

        <!-- pac_location -->
        <activity android:name=".location.XA_p_lo_simpleGPS" >
        </activity>

        <!-- pac_sensor -->
        <activity android:name=".sensor.XA_sens_sensorExits" >
        </activity>
        <activity android:name=".sensor.XA_sens_orientation" >
        </activity>
        <activity android:name=".sensor.XA_sens_magnetic_field" >
        </activity>
        <activity android:name=".sensor.XA_sens_proximity" >
        </activity>

        <!-- pac_database -->
        <activity android:name=".database.SQLEditUI" >
        </activity>

        <!-- pac_security -->
        <activity android:name=".security.XA_SEC_AES" >
        </activity>
        <!-- pac_admin -->
        <activity
            android:name=".admin.DevicePolicy"
            android:label="DevicePolicy" >
        </activity>
        <!-- pac_GUItool -->
        <activity android:name=".GUItool.GT_loadjar" >
        </activity>

        <!-- service -->
        <!-- 音乐服务 -->
        <service android:name=".MusicService" />
        <!-- 按键服务 -->
        <service android:name=".service.SV_hotkeyService"></service>

        <!-- Receiver -->
        <!-- BroadcastReceiver -->
        <receiver android:name=".XA_bootBroadcastRec" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 过滤 启动完成 -->
            </intent-filter>
        </receiver>
        <!-- 设备管理组件 DeviceAdminReceiver -->

        <receiver
            android:name=".admin.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/pac_ad_device" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>